.images{
 display: flex;
 justify-content: space-around;
 flex-direction: row;
}

.names {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.description{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navbar {
  height: 10vh;
  background-color: #1976d2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center
}

.menu {
  margin-left: 3vh;
}

.logo{
  height: 50px;
  width: 50px;
  margin-right: 15vh;
}

.footer{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #1976d2;
  margin-top: auto;
}

.inscription {
  display: block;
}

.form{
  margin-right: 37%;
  margin-left: 37%;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.marketplace {
  margin-left: 40vh;
  margin-right: 40vh;
  margin-top:  5vh;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#product {
  display: flex;
  justify-content: center;
}