.images{
 display: flex;
 justify-content: space-around;
 flex-direction: row;
}

.names {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.description{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.logo{
  height: 50px;
  width: 50px;
}

.navbar {
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  background-color: purple;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  padding-top: 20px;
}

.inscription {
  display: block;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
