.images{
 display: flex;
 justify-content: space-around;
 flex-direction: row;
}

.names {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.description{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.logo{
  height: 50px;
  width: 50px;
}

.navbar {
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  background-color: purple;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  padding-top: 20px;
}

.inscription {
  display: block;
}
.main{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  margin-right: 38px;
  margin-left: 38px;
  overflow: scroll;
}
 

.artcle1{
  display: flex;
  justify-content: left;
}
.artcle2{
  display: flex;
  justify-content: right;
}
.imgOumar{
  width: 30vh;
  height: 30vh;
}
/* .categories{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
} */
.pagination{
  display: flex;
  justify-content: row;
}
.image{
  display: flex;
 justify-content: space-around;
 flex-direction: row
}

.post{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  
}
.forum {
  margin-left: 50vh;
  margin-right: 50vh;
  margin-top: 5vh;
}

