.images{
 display: flex;
 justify-content: space-around;
 flex-direction: row;
}

.names {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.description{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.logo{
  height: 50px;
  width: 50px;
}

.navbar {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1976d2;
  align-items: center;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1976d2;
  margin-top: auto;
}

.inscription {
  display: block;
}

.form{
  margin-right: 37%;
  margin-left: 37%;
  margin-top: 10vh;
  display: flex;
  justify-content: right;
}
.imgOumar{
  width: 30vh;
  height: 30vh;
}
.categories{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.pagination{
  display: flex;
  justify-content: center;
}




